<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Configurar Treino</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="limparTreinoCompleto()">
        <ion-icon name="trash-bin" slot="icon-only" style="color: white; font-size: 24px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="global-section">
    <ion-item lines="none" class="input-item">
      <ion-label position="stacked">TEMPO DE PREPARAÇÃO (SEG)</ion-label>
      <ion-input 
        type="number" 
        [(ngModel)]="configService.tempoPreparacao" 
        (ngModelChange)="salvarNoDispositivo()"
        placeholder="Ex: 10">
      </ion-input>
    </ion-item>
    
    <ion-item lines="none" class="input-item">
      <ion-label position="stacked">BEEPS FINAIS (SEG)</ion-label>
      <ion-input 
        type="number" 
        [(ngModel)]="configService.tempoBeep" 
        (ngModelChange)="salvarNoDispositivo()"
        placeholder="Ex: 3">
      </ion-input>
    </ion-item>
  </div>

  <div class="lista-blocos">
    <div class="bloco-card" *ngFor="let bloco of configService.blocos; let i = index">
      
      <div class="bloco-header">
        <div class="header-left">
          <ion-icon 
            [name]="bloco.expandido ? 'chevron-down' : 'chevron-forward'" 
            class="toggle-icon"
            (click)="bloco.expandido = !bloco.expandido">
          </ion-icon>
          <input [(ngModel)]="bloco.nome" (blur)="salvarNoDispositivo()" class="input-nome-bloco">
        </div>

        <div class="bloco-btns">
          <ion-button fill="clear" (click)="duplicarBloco(i)">
            <ion-icon name="copy" style="color: white;"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="removerBloco(i)">
            <ion-icon name="trash" style="color: #ff4d4d;"></ion-icon>
          </ion-button>
        </div>
      </div>

      <div *ngIf="bloco.expandido" class="bloco-content">
        <table class="rounds-table">
          <thead>
            <tr>
              <th class="col-ex">EXERCÍCIO</th>
              <th class="col-num">ESF.</th>
              <th class="col-num">PAU.</th>
              <th class="col-del"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let round of bloco.rounds; let j = index">
              <td>
                <input [(ngModel)]="round.exercicio" placeholder="Ex: Flexão" (blur)="salvarNoDispositivo()" class="td-input-text">
              </td>
              <td>
                <input type="number" [(ngModel)]="round.esforco" (blur)="salvarNoDispositivo()" class="td-input-num">
              </td>
              <td>
                <input type="number" [(ngModel)]="round.pausa" (blur)="salvarNoDispositivo()" class="td-input-num">
              </td>
              <td class="col-del">
                <ion-button fill="clear" (click)="removerRound(i, j)">
                  <ion-icon name="close-circle" color="danger"></ion-icon>
                </ion-button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="add-round-buttons">
          <ion-button size="small" (click)="addRound(i, 10)">
            <ion-icon name="add" slot="start"></ion-icon>
            ADICIONAR ROUND
          </ion-button>
        </div>

        <div class="descanso-container">
          <ion-label>DESCANSO PÓS-BLOCO (SEG)</ion-label>
          <ion-input 
            type="number" 
            [(ngModel)]="bloco.descansoPosBloco" 
            (ngModelChange)="salvarNoDispositivo()"
            placeholder="Ex: 60">
          </ion-input>
        </div>
      </div>
    </div>
  </div>

  <div class="acoes-finais">
    <ion-button expand="block" class="btn-novo-bloco" (click)="novoBloco()">
      <ion-icon name="add" slot="start"></ion-icon>
      NOVO BLOCO
    </ion-button>

    <ion-button *ngIf="configService.blocos.length > 0" expand="block" fill="clear" color="medium" (click)="limparTreinoCompleto()">
      APAGAR TODO O TREINO
    </ion-button>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="success" (click)="salvar()">SALVAR PRESET</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="primary" (click)="iniciarTreino()">INICIAR TREINO</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>